@font-face {
  font-family: "futuristic";
  src: url("font/ethnocentric\ rg.otf");
  font-weight: normal;
  font-style: normal;
}

* {
  /* outline: 1px red solid; */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button,
input {
  font-family: inherit;
  font-size: 100%;
  display: block;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.left-side {
  position: relative;
  width: 35%;
  height: 100%;
  background-image: url("images/computer.jpg");
  background-size: cover;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  position: absolute;
  top: 5%;
  background-color: rgba(0, 0, 0, 0.473);
  opacity: 0.9;
}

.icon {
  width: 20%;
  height: 20%;
}

.text {
  font: 4rem "futuristic";
  color: rgb(212, 0, 195);
}

.right-side {
  display: flex;
  flex-direction: column;
  width: 65%;
  height: 100%;
}

.top {
  background-color: rgb(164, 197, 219);
  padding: 4% 4% 4% 4%;
}

.title {
  padding: 1% 1% 4% 4%;
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 40% 4% 3%;
}

label,
input {
  margin: 4% 4% 4% 3%;
 }

.bottom {
  background-color: rgb(164, 197, 219);
}

.account,
button {
  margin: 4% 4% 4% 4%;
}

/* button {

} */

a {
  color: rgb(212, 0, 195);
  text-decoration: none;
  cursor: pointer;
}



