@font-face {
  font-family: "futuristic";
  src: url("font/ethnocentric\ rg.otf");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  display: flex;
}

* {
  outline: 1px red solid;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}